<main class="home-container">
  <div class="container">
    <div class="row">
      <button
        pButton
        pRipple
        label="Login"
        (click)="login()"
        class="p-button-success">
      </button>
      <button
        pButton
        pRipple
        label="eu"
        (click)="getUser()"
        class="p-button-success">
      </button>
<!--      <button-->
<!--        pButton-->
<!--        pRipple-->
<!--        label="Deslogar"-->
<!--        (click)="logout()"-->
<!--        class="p-button-success">-->
<!--      </button>-->
    </div>
  </div>
</main>
