<app-title-page></app-title-page>
<main class="roms-link">
  <div class="container">
    <div class="row">
      <p-messages [(value)]="messages" closable="false" />
    </div>

  </div>
  <div class="box container">
    <div class="row">
      <div class="box-image col-6">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img src="assets/img/autitorio.png" alt="" class="img-fluid img-responsive">
        </a>
      </div>
      <div class="box-description col-6">
        <h3 class="box-description__title">
          Estamos te Esperando no Auditório!
        </h3>
        <h4 class="box-description__subtitle">
          VEM CANTAR CONOSCO!
        </h4>
        <p class="box-description__info">Entrem primeiro no auditório</p>
        <app-btn-zoom
          [textButton]="'Sala do Auditório'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
    </div>
  </div>
  <div class="container mt-8 ciclo-introdutorio">
    <div class="row">
      <div class="col-3">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img
            src="assets/img/book-covers/nbde.png"
            alt="Link para o Curso Conheça o Espiritismo"
            class="img-fluid img-responsive"/>
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Conheça o Espiritismo'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img
            src="/assets/img/book-covers/nosso-lar.png"
            alt="Link para o curso Nosso Lar"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Nosso Lar'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img
            src="/assets/img/book-covers/passe.png"
            alt="Link para o curso Passe"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Passe'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img
            src="/assets/img/book-covers/corrente.png"
            alt="Link para o curso Corrente Magnética"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Corrente Magnética'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
    </div>
  </div>
</main>



