<main class="roms-link">
  <div class="container">
    <div class="row">
      <p-messages [(value)]="messages" closable="false" />
    </div>

  </div>
  <div class="box container">
    <div class="row">
      <div class="box-image col-6">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img src="assets/img/autitorio.png" alt="" class="img-fluid img-responsive">
        </a>
      </div>
      <div class="box-description col-6">
        <h3 class="box-description__title">
          Estamos te esperando no Auditório!
        </h3>
        <h4 class="box-description__subtitle">
          VEM CANTAR CONOSCO!
        </h4>
        <p class="box-description__info">Entre primeiro no auditório</p>
        <app-btn-zoom
          [textButton]="'Sala do Auditório'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
    </div>
  </div>
  <div class="container mt-8 ciclo-introdutorio">
    <div class="row">
      <div class="col-3">
        <a href="https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09" target="_blank">
          <img
            src="assets/img/book-covers/nbde.png"
            alt="Link para o Curso Conheça o Espiritismo"
            class="img-fluid img-responsive"/>
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Conheça o Espiritismo'"
          [url]="'https://zoom.us/j/95626882769?pwd=WXBtMkc1QUl3Yzl6dm9meFlBb3V2dz09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/92285356777?pwd=TUtuV25tM1BMcWpLZUdobHRCNEU3dz09" target="_blank">
          <img
            src="/assets/img/book-covers/nosso-lar.png"
            alt="Link para o curso Nosso Lar"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Nosso Lar'"
          [url]="'https://zoom.us/j/92285356777?pwd=TUtuV25tM1BMcWpLZUdobHRCNEU3dz09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/98621326711?pwd=UHpCbmNaYy9LdXpLWVhJcTA3SURzUT09" target="_blank">
          <img
            src="/assets/img/book-covers/passe.png"
            alt="Link para o curso Passe"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Passe'"
          [url]="'https://zoom.us/j/98621326711?pwd=UHpCbmNaYy9LdXpLWVhJcTA3SURzUT09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/94255565222?pwd=N0t6VmU2dFprRDdnS1VSZi81bVViQT09" target="_blank">
          <img
            src="/assets/img/book-covers/corrente.png"
            alt="Link para o curso Corrente Magnética"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Corrente Magnética'"
          [url]="'https://zoom.us/j/94255565222?pwd=N0t6VmU2dFprRDdnS1VSZi81bVViQT09'"
        ></app-btn-zoom>
      </div>
    </div>
  </div>

  <div class="container mt-8 ciclo-especializacao">
    <div class="row">
      <div class="col-3">
        <a href="https://zoom.us/j/93872844257?pwd=NGcwTFAwUERzcmZieVNBRFZsY1lZQT09" target="_blank">
          <img
            src="assets/img/book-covers/vibracao.png"
            alt="Link para o Curso Vibração"
            class="img-fluid img-responsive"/>
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Vibração'"
          [url]="'https://zoom.us/j/93872844257?pwd=NGcwTFAwUERzcmZieVNBRFZsY1lZQT09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/97908704509?pwd=TGk2dnNQVWxyL3oxS1gyOFdOVWdvQT09" target="_blank">
          <img
            src="/assets/img/book-covers/posto.png"
            alt="Link para o curso Posto de Assistência"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Posto de Assistência'"
          [url]="'https://zoom.us/j/97908704509?pwd=TGk2dnNQVWxyL3oxS1gyOFdOVWdvQT09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/93690989766?pwd=VHJRWHhhTE1OYytmY0w2RTIyVTM5UT09" target="_blank">
          <img
            src="/assets/img/book-covers/comunicacao.png"
            alt="Link para o Curso Comunicação Social Espírita"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Comunicação Social Espírita'"
          [url]="'https://zoom.us/j/93690989766?pwd=VHJRWHhhTE1OYytmY0w2RTIyVTM5UT09'"
        ></app-btn-zoom>
      </div>
      <div class="col-3">
        <a href="https://zoom.us/j/81215329588?pwd=dHRaSjh2TElwLys0NVN3ellQcCtYQT09" target="_blank">
          <img
            src="/assets/img/book-covers/criancinhas.png"
            alt="Link para o curso Deixai vir a mim as criancinhas"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Deixai vir a mim as criancinhas'"
          [url]="'https://zoom.us/j/81215329588?pwd=dHRaSjh2TElwLys0NVN3ellQcCtYQT09'"
        ></app-btn-zoom>
      </div>
    </div>
  </div>
  <div class="container mt-7 ciclo-especializacao">
    <div class="row">
      <div class="col-3">
        <a href="#" target="_blank">
          <img
            src="/assets/img/book-covers/falar.png"
            alt="Link para o curso Falar é fácil"
            class="img-fluid img-responsive">
        </a>
        <app-btn-zoom
          [textButton]="'Sala - Curso Falar é Fácil'"
          [url]="'#'"
        ></app-btn-zoom>
      </div>
    </div>
  </div>
</main>



